<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Liste des étudiants</h2>
      <p>Mis à jour : {{ lastUpdate }}</p>
      <p>Mis à jour : {{ lastUpdate | date }}</p>
      <p>Mis à jour : {{ lastUpdate | date: 'short' }}</p>
      <p>Mis à jour : {{ lastUpdate | date: 'yMMMMEEEEd' }}</p>
      <p>Mis à jour : {{ lastUpdate | date: 'yMMMMEEEEd' | uppercase }}</p>


      <ul class="list-group">
        <app-etudiant *ngFor="let etudiant of etudiants" [etudiantName]="etudiant.name" [statut]="etudiant.statut">
        </app-etudiant>

      </ul>

      <button class="btn btn-success" [disabled]="!Accept" (click)="onAccepter()">Tout accepter</button>


    </div>

  </div>
</div>